/* header{width: 90%; margin: 0 auto;}
header .wrap{padding:50px 15px 0; letter-spacing:-0.5px;}
header .tab_menu{position:relative;}
header .tab_menu .list{overflow:hidden;}
header .tab_menu .list li{float:left;padding: 10px;background-color: #a6bace;color:#a0cfea;border-radius: 5px 15px 0px 0;}
header .tab_menu .list li img{width: 35%;}
header .tab_menu .list .btn{font-size:20px;}
header .tab_menu .list .cont{display:none; position:absolute; top:45px; left:0; background:#c3e0f4; color:#000; text-align:center; width:100%; height:65vh;border-radius: 5px 15px 0px 0;}
header .tab_menu .list li.is_on {background-color: #c3e0f4;padding: 10px;border-radius: 5px 15px 0px 0;}
header .tab_menu .list li.is_on .btn{font-weight:bold; color:#fff;}
header .tab_menu .list li.is_on .cont{display:block;}
header .tab_menu .list li a {display:inline-block;} */

/* *{background-color: #3f4d34;} */


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 25px 0;
    background-color: rgba(255, 255, 192, 0.1);
    backdrop-filter: blur(10px);
}
header a{display: inline-block;font-size: 30px;font-weight: bold;}
header ul{display: flex;justify-content: space-evenly;width: 20%;}

.pro{height: 85vh;padding: 100px 0 0;}
.pro .pro_inner .pro_desc{width: 1200px;margin: 0 auto;display: flex;justify-content: center;align-items: center;position: relative;}
.pro .pro_inner .pro_desc .pro_text{width: 50%;padding-left: 10%;}
.pro .pro_inner .bottom{
    position: absolute;
    top: 55%;
    left: 50%;
    /* transform: translate(-50px, -50px); */
    text-align: center;
    animation: scroll 0.6s cubic-bezier(0, 0, 0.6, 1.06) infinite alternate;
}
.pro .pro_inner .bottom img{width: 50%;opacity: .4;}
.pro .pro_inner .bottom p{opacity: .4;font-size: 18px;}

@keyframes scroll{
    to{
        transform: translateY(-20px);
    }
}


.content{width: 1300px;margin: 0 auto;padding: 100px 0;}
.content h2{text-align: center;margin-bottom: 70px;font-size: 2rem;}
/* .content .exp_wrap .exp{display: flex;justify-content: space-evenly;} */
.content .exp_wrap{height: 85vh;}
.content .exp_wrap .job_exp ul{display: flex;justify-content: space-around;margin-top: 50px;}
.content .exp_wrap .job_exp ul li{font-size: 20px;text-align: center;font-weight: bold;position: relative;}
.content .exp_wrap .job_exp ul.job_title{margin-top: 0;margin-bottom: 50px;}
.content .exp_wrap .job_exp ul.job_title li::before{
    display: block;
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border: 0.5rem solid #8c8c8c;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 100%);
}
.content .exp_wrap .job_exp ul li span.point{font-weight: normal;color: #7ba7b0;}


.content .exp_wrap .work_exp ul{display: flex;justify-content: space-evenly;margin-bottom: 70px;}
.content .exp_wrap .work_exp ul li{width: 20%;text-align: center;}
.content .exp_wrap .work_exp ul li a{display: inline-block;height: 140px;}
.content .exp_wrap .work_exp ul li a img{width: 100%;height: 100%;border-radius: 10px;}


.content .exp_wrap .popo_exp ul{display: flex;justify-content: space-evenly;margin-bottom: 70px;}
.content .exp_wrap .popo_exp ul li{width: 20%;text-align: center;}
.content .exp_wrap .popo_exp ul li a{display: inline-block;height: 140px;}
.content .exp_wrap .popo_exp ul li a img{width: 100%;height: 100%;border-radius: 10px;}
