

*{font-family: "Gowun Dodum", sans-serif;}
h2{color: #fff;}

/* header */
header {
    width: 100%;
    padding: 30px 0;
    position: fixed;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: 999;
    transition: background-color 0.3s ease 0s, height 0.3s ease 0s;
}
/* header:hover{background: #92a1c3;} */
header div{background: transparent;width: 1300px;margin: 0 auto;display: flex;justify-content: space-between;align-items: center;}
header a{display: inline-block;font-size: 30px;font-weight: bold;background: transparent;font-family: "Poetsen One", sans-serif;color: #6587a1;}
header a:last-child{font-size: 20px;color: #fff;}
header ul{display: flex;justify-content: space-evenly;width: 20%;}
/* //header */


/* main */
main{height: 100vh;color: #fff;background: linear-gradient(#92a1c3, #bed1e3 80%);}
main article{width: 1200px;height: 100%;margin: 0 auto;position: relative;}
main article .main_text{width: 100%;text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
main article .main_text p span{display: inline-block;font-size: 120px;font-family: "Poetsen One", sans-serif;text-shadow: 2px 3px 7px #6587a1;animation: swaying 3s infinite ease-in-out;padding-bottom: 50px;}

@keyframes swaying {
    0% {transform: rotate(-10deg);}
    30% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    80% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
}


/* info */
section.info_wrap{width: 100%;padding-bottom: 200px;color: #fff;background: linear-gradient(#bed1e3, #92a1c3 80%);/*background: linear-gradient(#bed1e3, #cca1c9 80%);*/}
section.info_wrap .info{display: flex;justify-content: center;align-items: center;padding-top: 50px;}
section.info_wrap .info .img_wrap{margin-right: 50px;}
section.info_wrap .info .text_wrap{font-size: 25px;}

  
.info_wrap .text_wrap p a {
  overflow: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: color .4s;
  transition: color .4s;
  display: inline-block;
  font-size: 20px;
  margin: 20px 0;
}

@keyframes eff24-move {
  30% {
    -webkit-transform: translate3d(0, -5px, 0) rotate(5deg);
    transform: translate3d(0, -5px, 0) rotate(5deg)
  }
  50% {
    -webkit-transform: translate3d(0, -3px, 0) rotate(-4deg);
    transform: translate3d(0, -3px, 0) rotate(-4deg)
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-3deg);
    transform: translate3d(0, 0, 0) rotate(-3deg)
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

.info_wrap .text_wrap p a:hover {
  -webkit-animation-name: eff24-move;
  animation-name: eff24-move;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: #6587a1;
}

/* //info */



/* work */
section.work_exp{width: 100%;padding-bottom: 200px;background: linear-gradient(#92a1c3, #bed1e3 80%);/*background: linear-gradient(#cca1c9, #f3a0ad 80%);*/}
section.work_exp .work{width: 1300px;margin: 0 auto;}
section.work_exp .work h2{font-size: 50px;padding-bottom: 80px;font-family: "Poetsen One", sans-serif;}
section.work_exp .work ul{display: flex;justify-content: space-between;margin-bottom: 70px;}
section.work_exp .work ul li{width: 49%;}
section.work_exp .work ul li a{display: inline-block;height: 330px;color: #6587a1;}
section.work_exp .work ul li a span{display: inline-block;font-size: 30px;font-weight: bold;color: #fff;}
section.work_exp .work ul li a img{width: 100%;height: 100%;border-radius: 10px;}
/* //work */



/* mypopo */
section.popo_exp{width: 100%;padding-bottom: 200px;background: linear-gradient(#bed1e3, #92a1c3 80%);/*background: linear-gradient(#f3a0ad, #ffd3dd 80%);*/}
section.popo_exp .popo{width: 1300px;margin: 0 auto;}
section.popo_exp .popo h2{font-size: 50px;padding-bottom: 80px;font-family: "Poetsen One", sans-serif;}
section.popo_exp .popo ul{display: flex;justify-content: space-between;margin-bottom: 70px;}
section.popo_exp .popo ul li{width: 49%;}
section.popo_exp .popo ul li a{display: inline-block;height: 330px;color: #6587a1;}
section.popo_exp .popo ul li a span{display: inline-block;font-size: 30px;font-weight: bold;color: #fff;}
section.popo_exp .popo ul li a img{width: 100%;height: 100%;border-radius: 10px;}
section.popo_exp .popo ul li a img.incomplete{filter: brightness(0.5);}
/* //mypopo */


/* footer */
footer{width: 100%;padding-bottom: 50px;color: #fff;background: linear-gradient(#92a1c3, #bed1e3 80%);/*background: #ffd3dd;*/}
footer div.contact_wrap{width: 1300px;margin: 0 auto;}
footer div.contact_wrap h2{font-size: 50px;padding-bottom: 80px;font-family: "Poetsen One", sans-serif;}
footer div.contact_wrap ul{display: flex;justify-content: space-between;margin-bottom: 70px;}
footer div.contact_wrap ul li span{display: inline-block;font-size: 5.5rem;font-family: "Rubik Scribble", system-ui;}
footer div.contact_wrap ul li p{margin-top: 50px;font-size: 2.2rem;}
footer div.contact_wrap ul li img{width: 80%;}
footer div.contact_wrap > p{font-size: 15px;padding-bottom: 30px;text-align: center;font-family: "Poetsen One", sans-serif;}
/* //footer */


@keyframes scroll{
    to{
        transform: translateY(-20px);
    }
}


  